<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta charset="UTF-8" />
<title>MovieChannel</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<body class="bg-dark">

	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>
	<div  class="container" style="background-color: #0c151c;">

		<div>
				<div style="height:500px; overflow:auto">
					<table class="table-bordered text-center text-light">
							<tr class="menu-bar">
								<th style="width:120px;  word-break: break-all;">Code</th>
								<th style="width:120px;  word-break: break-all;">Title</th>
								<th style="width:120px;  word-break: break-all;">Year</th>
								<th style="width:120px">RunTime</th>
								<th style="width:120px">IMDb</th>
								<th style="width:120px">RottenTomatoes</th>
								<th style="width:90px">Delete</th>
								<th style="width:90px">Edit</th>
							</tr>
							<tr  th:each="m : ${movieList}" >
								<td>
									<output style="width:120px;  word-break: break-all;" th:text="${m.code}" class="font-italic"  ></output>
								</td>
								<td>
									<output  style="width:120px  word-break: break-all;" th:text="${m.title}" class="width20em font-italic"  ></output>
								</td>
								<td>
									<output style="width:120px" id="year" th:text="${#dates.format(m.year, 'dd/MM/yyyy')}" ></output>
								</td>
								<td>
									<output  style="width:50px" th:text="${m.runtime}" class=" font-italic"  ></output>
								</td>
								<td>
									<output style="width:50px" th:text="${m.imdbRating}" class=" font-italic"  ></output>
								</td>
								<td>
									<output  style="width:50px" th:text="${m.rottenTomatoes}" class=" font-italic"  ></output>
								</td>
								<td>
									<a href="#" th:href="@{/admin/movie/delete(code=${m.code})}"
										class="btn" data-toggle="tooltip" title="delete"> <span class="fa fa-trash text-light"></span>
									</a>
								</td>
								<td>
									<a href="#" th:href="@{/admin/movie(code=${m.code})}"
										class="btn" data-toggle="tooltip" title="edit"> <span class="fa fa-edit text-light"></span>
									</a>
								</td>
								
							</tr>
					</table>
				</div>
		</div>
	</div>
</body>
</html>